# ignore folders
.idea/
out/
!*.iml
SbtHome.iml
!*.xml
home9/home9.iml
/home10/target/
/home10/home10.iml
/home1..8/home1..8.iml
/target/
/home11/home11.iml
/home11/target/
/home13..14/pom.xml
/home13..14/home13..14.iml
/home13..14/target/
/home15/home15.iml
/home12/
/home15/target/
