# ignore folders
.idea/
out/
!*.iml
SbtHome.iml
!*.xml
_windows/
inspection/
home9/home9.iml
home99/util/util.iml
home99/webapp/webapp.iml

/home/home.iml
/target/
/home9/target/
/home10/target/
/home10/home10.iml
